<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Kwik Post</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav id="navigation">
    <a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">Change Password</a></div>
    <div class="navlink"><a href="/browse">Browse</a></div>
  </nav>
  <section id="info">
  </section>
  <section id="makePost">
  </section>
  <section id="posts">
  </section>
  <div class="advert">Your Ad Here</div>
  <div id="messageBox"><img id="speech" src="/assets/img/favicon.png" alt="paper"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>