html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #B8D4E3;
}

#logo {
    height: 60;
    width: 50;
    padding: 1%;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #66101F;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: #5D737E;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #92977E;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #66101F;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    color: #5D737E;
    transition: background-color 0.8s ease;
}

.postForm {
    border: 2px solid #8A8E91;
    max-width: 800px;
    margin-top:0px;
    padding-top:10px;
    background-color: #66101F;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
}

.postForm label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    color: #92977E;
    margin: 0.5em auto;
    display: block;
}

.postForm input[type=text] {
    margin: 0 auto;
    display: block;
}

.postForm textarea{
    margin: 0 auto;
    display: block;
}

.postFormSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #66101F;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.postFormSubmit:link, .postFormSubmit:visited, .postFormSubmit:hover, .postFormSubmit:active {
    color: white;
}

.postFormSubmit:hover {
    transition: background-color 0.4s ease;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.5em;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #66101F;
    border-radius: 2px;
    border-color: #8A8E91;
    padding: 3px 0px;
    color: #92977E;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #8A8E91;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgba(102, 16, 30, 0.787);
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #66101F;
}

#messageBox {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#messageBox h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#makePost {
    width: 40%;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
}

#posts {
    width: 60%;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}

#changeSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.5em;
    margin-top: 14px;
    font-size: 1.2em;
    background-color: #66101F;
    border-radius: 2px;
    border-color: #8A8E91;
    padding: 5px;
    color: #92977E;
    text-decoration: none;
}

.post {
    border: 4px solid #5D737E;
    border-radius: 4px;
    background-color: #66101F;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    width: 100%;
    margin: 0.5em auto;
    margin-right: 0.5em;
    display: block;
    color: #92977E;
}

.post:hover {
    transition: border-color 0.2s ease-out;
    border-color: #92977E;
    transition: background-color 2.6s ease-out;
}


h3.emptyPost {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
    color: #92977E;
}

h3.postTitle {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.postContent {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}



.post:first-child {
    margin-top: 10px;
}

.post:last-child {
    margin-bottom:10px;
}

.advert{
    border: 4px solid #5D737E;
    border-radius: 4px;
    background-color: #92977E;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    width: 100%;
    margin: 0.5em auto;
    margin-top: 2em;
    margin-right: 0.5em;
    display: block;
    color: #66101F;
    text-align: center;
    font-size: 4em;
}